{% extends 'layout.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugin/dist/css/bootstrap-datepicker.min.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="table">
                <div class="table-light">新建用户</div>
            </div>
            <div class="panel-body">
                <form method="post" novalidate><!--novalidate去掉界面信息判断-->
                    {% csrf_token %}
                    {% for obj in form %}
                        <div class="col-md-6" >
                            {{ obj.label }}: {{ obj }}
                            <span style="color: red">{{ obj.errors.0 }}</span>
                        </div>
                    {% endfor %}
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary" >保 存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}

<script src="{% static 'plugin/dist/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'plugin/dist/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
<script>
    $(function () {
        $('#id_create_time').datepicker( {# 这个id是创建时间里面Django自带的，可以通过前端开发者工具中找到 #}
            {
                format:'yyyy-mm-dd',
                startDate:'0',
                language:"zh-CN",
                autoclose: true
            });

    })
</script>


{% endblock %}